{% extends "base.html" %}
{% load static %}
{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Project Details</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Project Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            {% for image in object.project_image.all  %}
                            <div class="swiper-slide">
                                <img src="{{image.image.url}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <p>{{object.description}}</p>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: {{object.categoryproject}}</li>
                            <li><strong>Client</strong>: {{object.client}}</li>
                            <li><strong>Project date</strong>: {{object.created_at}}</li>
                            <li><strong>Project URL</strong>: <a href="{{object.url}}">{{object.url}}</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <div class="sidebar-box ftco-animate">
                            <h3 class="heading-sidebar">Recent Projects</h3>
                            {% for project in recent_project  %}
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url({{project.image.url}});"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="{{project.get_absolute_url}}">{{project}}</a></h3>
                                    <div class="meta">
                                        <div><a href="{{project.get_absolute_url}}"><span
                                                    class="icon-calendar"></span>{{project.created_at}}</a></div>
                                        <div><a href="{{project.get_absolute_url}}"><span
                                                    class="icon-person"></span>{{project.auther}}</a></div>
                                        <div><a href="{{project.get_absolute_url}}"><span class="icon-chat"></span>
                                                19</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <h3 class="heading-sidebar">Tag Cloud</h3>
                    <div class="tagcloud">
                        {% for tag in tags  %}
                        <a href="{% url 'projects:project_by_tags' tag %}" class="tag-cloud-link">{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}